@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.inner-header {
  background: #fbfbfb;
  padding: 12px;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

.custom-justify-center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.custom-justify-start {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.custom-align-items-start {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}

.custom-justify-end {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.custom-justify-space-between {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.custom-justify-align-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

header {
  padding: 20px 0;
}

.header-logo,
.header-logo-polkadot-light {
  width: calc(100% / 2 - 20px);
}

.header-logo-polkadot-light {
  justify-content: flex-end;
}

.white-icon {
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 22px;
  width: 22px;
}

.header-logo-polkadot-light {
  justify-content: flex-end;
  gap: 40px;
}

.light-dark-mode {
  gap: 16px;
  background-color: #eeeeee;
  border-radius: 50px;
  padding: 2px;
  cursor: pointer;
}

.securesing-tab-menu ul li {
  list-style-type: none;
  display: block;
  cursor: pointer;
}

.securesing-tab-menu ul li a {
  text-decoration: none;
  color: #1c1e21;
  border-radius: 12px;
  display: inline-block;
  padding: 14px 12px;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  font-family: "Nunito", sans-serif;
}

.securesing-tab-menu ul li a.securesing-active-a {
  background-color: #dedede;
  color: #1c1e21;
  font-weight: 700;
}

.securesing-tab-main-sec {
  gap: 20px;
  padding: 4px 47px 20px 47px;
  text-align: center;
}

.securesing-tab {
  width: calc(100% / 4 - 20px);
}

.securesing-tab h2 {
  color: rgba(0, 0, 0, 0.7);
}

.securesing-tab p {
  color: rgba(0, 0, 0, 0.6);
  text-align: justify;
}

.securesing-tab {
  display: block;
}

.securesing-tab-active {
  position: relative;
}

.securesing-tab-active::before {
  position: absolute;
  left: 0;
  right: 0;
  height: 50px;
  width: 50px;
  bottom: 0;
  border-radius: 50%;
  content: "";
}

.securesing-multisig-tabs-two {
  gap: 20px;
}

.new-multisig-form {
  width: calc(60% - 60px);
}
.selected-accounts-list {
  margin-right: 60px;
  width: 40%;
}
.securesing-tab-container {
  position: relative;
}

.securesing-tab-menu {
  background-color: rgba(244, 244, 244, 1);
  border-radius: 20px;
  padding: 20px;
}

.common-label-form label {
  color: #1c1e21;
  font-size: 16px;
  font-weight: 500;
  font-family: "Nunito", sans-serif;
  margin-bottom: 20px;
  display: block;
}

.common-input-form input,
.common-input-form select {
  background-color: #fff;
  padding: 14px 16px;
  color: #9b9b9b;
  font-size: 14px;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  border-radius: 12px;
  border: none;
  width: 100%;
  outline: none !important;
  padding-right: 30px;
}
.form-parent-inner {
  width: 70%;
  padding-left: 60px;
  display: flex;
  flex-wrap: wrap;
}
.selected-accounts-list
  .inner-selected-accounts-list
  + .inner-selected-accounts-list {
  margin-top: 50px;
}

.new-multisig-form
  .inner-selected-accounts-list
  + .inner-selected-accounts-list {
  margin-top: 26px;
}

.securesing-multisig-tabs-two {
  width: 30%;
  margin-right: 0px;
}

.new-multisig-form {
  padding: 50px 70px;
  background-color: #f9f8f8;
  border-radius: 30px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url(/images/selectarrow.png);
  background-repeat: no-repeat;
  background-position-x: 96%;
  background-position-y: 16px;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  margin-right: 2rem;
  padding: 1rem;
  padding-right: 2rem;
}

.securesing-tab {
  display: block;
  position: relative;
  z-index: 1;
}

.securesing-tab-container {
  position: relative;
  width: 100%;
}
.securesing-tab-menu li {
  list-style: none;
}

.securesing-tab.securesing-tab-active .multisig-icon-four {
  width: 56px;
  height: 56px;
  background-color: #dedede;
  position: relative;
  top: -12px;
}

.securesing-tab .multisig-icon-four {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  background: #f9f8f8cc;
  cursor: pointer;
}
.active-list .multisig-icon-four, .multisig-icon-four.active-list {
  background: #dedede;
  width: 56px;
  height: 56px;
  position: relative;
  top: -8px;
  left: -4px;
  cursor: pointer;
}


.active-list::before {
  background-image: url(/images/shape.png);
  position: absolute;
  left: 0;
  right: 0;
  content: "";
  top: -10px;
  width: 119px;
  height: 65px;
  background-repeat: no-repeat;
  background-size: 117px;
  transform: translate(-35px, 0px);
  z-index: -1;
}


.multisig-icon-four.active-list::before {
  top: -10px;
  width: 112px;
  height: 104px;
  background-repeat: no-repeat;
  background-size: 130px;
  transform: translate(-37px, 0px);
  z-index: -1;
}
.securesing-tab-main-sec .securesing-tab.securesing-tab-active::before {
  display: block;
}

.securesing-tab-main-sec .securesing-tab-active:first-child {
  background-image: url(/images/Untitledavtiveshap1.png);
  position: absolute;
  left: 0;
  right: 0;
  content: "";
  top: -14px;
  width: 123px;
  height: 65px;
  background-repeat: no-repeat;
  background-size: 100%;
  transform: translateX(-34px);
  display: none;
}
a.custom-btn {
  width: fit-content;
  background: #1c1e21;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  line-height: 24.51px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  margin-top: 20px;
  display: flex;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 56px;
}
.select-sec.common-input-form.call-bg-icon {
  position: relative;
}
.select-sec.common-input-form.call-bg-icon img {
  position: absolute;
  right: 7px;
  top: 15px;
}

.common-input-form select {
  background-color: #fbfbfb;
}
footer.custom-footer {
  background: #1c1e21;
  padding: 20px;
  margin-top: 50px;
}

.footer-column {
  width: 33%;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.footer-column p,
.footer-column a {
  font-family: Nunito;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #fff;
  text-decoration: none;
}
.footer-column li a {
  margin-left: 5px;
}
.securesing-tab .multisig-icon-four img {
  position: relative;
}


body.dark-mode {
  background: #000;
}

body.dark-mode .inner-header,
body.dark-mode .securesing-tab-menu,
body.dark-mode .new-multisig-form {
  background: #1c1e21;
}

body.dark-mode .common-input-form input,
body.dark-mode .common-input-form select {
  background-color: #1c1e21;
  border: 1px solid #31343a;
  color: #fff;
}

body.dark-mode .securesing-tab-menu ul li a.securesing-active-a {
  background: #686868;
}

body.dark-mode .securesing-tab-menu ul li a,
body.dark-mode .common-label-form label {
  color: #fff;
}

body.dark-mode a.custom-btn {
  background: #686868;
}
body.dark-mode .active-list::before {
  background-image: url(/images/shape-gray.png);
}

body.dark-mode select#cars {
  background-image: url(/images/Dropdown-gray-icon.png);
}
body.dark-mode .securesing-tab .multisig-icon-four {
 background: #101318;
}
body.dark-mode .securesing-tab .multisig-icon-four img {
  filter: invert(1);
}
.form-parent-inner input,
.form-parent-inner select {
  border-radius: 4px;
}
body.dark-mode * {
  color: #fff;
}
.footer-column ul li {
  list-style: none;
}
